<mat-toolbar class="navbar-header mat-elevation-z6" color="primary" style="z-index: 3; position: relative;">
  <a mat-button class="button" routerLink="/">
    <h1>
      <!-- <span style="font-size: 75px; letter-spacing: -5px; vertical-align: middle; margin-right: 20px;">//</span> -->
      <mat-icon style="vertical-align: text-top;">how_to_vote</mat-icon>
      {{ 'Ecorendum' | translate }}
      <!-- <small *ngIf="env !== 'PRD'" class="accent">{{ env }}</small> -->
      <!-- <span class="env-info">
        <small>v{{ version }}</small>
        <small *ngIf="userService.user; let user">{{ user.userId }}</small>
      </span> -->
    </h1>
  </a>

  <span fxHide.xs="true">
    <!-- <a mat-button class="navbar-hide-small button" routerLink="configuration" *ngIf="userService.isAdmin()">{{ 'Configuration' | translate }}</a> -->
    <!-- <a mat-button class="navbar-hide-small button" routerLink="new-suggestion">{{ 'New suggestion' | translate }}</a> -->
  </span>

  <div class="flex-spacer"></div>

  <button mat-button class="context" (click)="changeContext()">
    <span fxHide.xs="true" class="context-header">{{ 'Context' | translate }}</span>
    <mat-icon class="context-icon" *ngIf="proposalService.isFlandersContext$ | async" svgIcon="flanders" />
    <!-- <mat-icon class="context-icon" *ngIf="proposalService.isBrusselsContext$" svgIcon="brussels" />
    <mat-icon class="context-icon" *ngIf="proposalService.isWallonianContext$" svgIcon="wallonia" /> -->
    <span *ngIf="proposalService.isFlandersContext$ | async">{{ 'Flanders' | translate }}</span>
    <span *ngIf="proposalService.isBrusselsContext$ | async">{{ 'Brussels' | translate }}</span>
    <span *ngIf="proposalService.isWallonianContext$ | async">{{ 'Wallonia' | translate }}</span>
  </button>

  <div class="flex-spacer"></div>

  <app-navbar-profile-menu></app-navbar-profile-menu>

</mat-toolbar>
