@use '@angular/material' as mat;
@use 'parameters' as params;

.proposal {
  margin-bottom: 24px;
  width: 100%;

  &.committed {
    border-width: 2px;
    border-style: dashed;
    border-color: var(--mdc-outlined-card-outline-color);
  }
}

.proposal-card {
  overflow-x: hidden;
  background-size: cover;
  background-position: left, right;
  background-repeat: no-repeat, no-repeat;
  padding: 0px; /* Will be set by the overlay with the gradient */

  &.committed {
    background-color: inherit;
    box-shadow: none;
  }
}

.proposal-card-background-overlay {
  padding: 16px;
  background: linear-gradient(
    145deg,
    rgba(mat.get-theme-color(params.$ecorendum-theme, 'background', 'card'), 1) 40%,
    rgba(mat.get-theme-color(params.$ecorendum-theme, 'background', 'card'), 0.9) 60%,
    rgba(mat.get-theme-color(params.$ecorendum-theme, 'background', 'card'), 0.1) 100%);

  &.committed {
    background: linear-gradient(
      145deg,
      rgba(mat.get-theme-color(params.$ecorendum-theme, 'background', 'background'), 1) 40%,
      rgba(mat.get-theme-color(params.$ecorendum-theme, 'background', 'background'), 0.9) 60%,
      rgba(mat.get-theme-color(params.$ecorendum-theme, 'background', 'background'), 0.1) 100%);
  }
}

::ng-deep.light-mode {
  .proposal-card-background-overlay {
    padding: 16px;
    background: linear-gradient(
      145deg,
      rgba(mat.get-theme-color(params.$ecorendum-light-theme, 'background', 'card'), 1) 40%,
      rgba(mat.get-theme-color(params.$ecorendum-light-theme, 'background', 'card'), 0.9) 60%,
      rgba(mat.get-theme-color(params.$ecorendum-light-theme, 'background', 'card'), 0.1) 100%) !important;

    &.committed {
      background: linear-gradient(
        145deg,
        rgba(mat.get-theme-color(params.$ecorendum-light-theme, 'background', 'background'), 1) 40%,
        rgba(mat.get-theme-color(params.$ecorendum-light-theme, 'background', 'background'), 0.9) 60%,
        rgba(mat.get-theme-color(params.$ecorendum-light-theme, 'background', 'background'), 0.1) 100%) !important;
    }
  }
}

.checkbox-and-header {
  display: flex;
}

.proposal-checkbox {
  margin-right: 6px;
  transform: scale(1.2);
  top: -6px;
  align-self: baseline;
  margin-top: 2px;
}

.proposal-header {
  flex-grow: 1;
}

.variants {
  height: unset;
  flex-wrap: wrap;
  margin: unset;
  margin-top: 12px;
}
