<div mat-dialog-content class="context-content">
  <p>{{ 'selectContextInfo' | translate }}</p>
  <div class="context-toggle-buttons">
    <mat-button-toggle [checked]="contextService.isFlandersContext$ | async" (change)="selectFlanders()" style="margin-top: 12px">
      <mat-icon class="context-icon" svgIcon="flanders" />
      <span>{{ 'Flanders' | translate }}</span>
    </mat-button-toggle>
    <mat-button-toggle [checked]="contextService.isBrusselsContext$ | async" (change)="selectBrussels()" style="margin-top: 12px">
      <mat-icon class="context-icon" svgIcon="brussels" />
      <span>{{ 'Brussels' | translate }}</span>
    </mat-button-toggle>
    <mat-button-toggle [checked]="contextService.isWallonianContext$ | async" (change)="selectWallonia()" style="margin-top: 12px">
      <mat-icon class="context-icon" svgIcon="wallonia" />
      <span>{{ 'Wallonia' | translate }}</span>
    </mat-button-toggle>
  </div>
</div>
