.result-section {
  margin-bottom: 24px;
}

.header-with-collapse-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.result-section-with-image {
  display: flex;

  .result-section-image {
    max-height: 116px;
    margin-right: 12px;
  }
}

.result-section-with-image-lt-md {
  display: block;

  .result-section-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 12px;
  }
}

.result-section-targets {
  flex-grow: 1;

  :last-child {
    margin-bottom: 0;
  }
}

.numerical {
  font-size: 110%;
}

.calc-table {
  display: inline-flex;
  flex-direction: column;
}

.calc-line {
  display: flex;
}

.calc-line-header {
  margin-right: 12px;
}

.calc-line-number {
    text-align: right;
    flex-grow: 1;
}

.total-line {
  border-top: solid 1px;
  margin-top: 2pt;
  padding-top: 3pt;
}

.submit-button-lg {
  position: fixed;
  right: 24px;
  bottom: 24px;
}

app-result-progress {
  width: 100%;
  margin-left: 12px;
  margin-right: 12px;
}

.result-section-collapsed {
  display: flex;

  .collapsed-header {
    white-space: nowrap;
  }

  .collapsed-expand {
    display: inline-block;
  }

  .collapsed-header-summary {
    width: 100%;
    margin-left: 12px;
  }
}

.condensed-section {
  margin-bottom: 16px;
}

.icon-button {
  cursor: pointer;
  opacity: 0.6;
  margin-left: 12px;

  &:first-child {
    margin-left: 0px;
  }

  &:hover {
    opacity: 1;
  }
}

.icon-with-icon-badge {
  position: relative;
  margin-right: 6px;

  .icon-badge {
    font-size: 75%;
    position: absolute;
    top: 50%;
    left: 50%;

    border-radius: 50%;
    background-color: #6f6f6f;
    padding: 2px;
  }
}
