.result-section {
  margin-bottom: 24px;
}

.header-with-collapse-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.calc-table {
  display: inline-flex;
  flex-direction: column;
}

.calc-line {
  display: flex;
}

.calc-line-header {
  margin-right: 12px;
}

.calc-line-number {
    text-align: right;
    flex-grow: 1;
}

.total-line {
  border-top: solid 1px;
  margin-top: 2pt;
  padding-top: 3pt;
}

.submit-button-lg {
  position: fixed;
  right: 24px;
  bottom: 24px;
}

.margin-for-results-bar {
  margin-bottom: 56px;
}

app-result-progress {
  width: 100%;
  margin-left: 12px;
  margin-right: 12px;
}

.result-section-collapsed {
  display: flex;

  .collapsed-header {
    white-space: nowrap;
  }

  .collapsed-expand {
    display: inline-block;
  }

  .collapsed-header-summary {
    width: 100%;
    margin-left: 12px;
  }
}

.result-section-collapsed-cost {
  display: flex;

  .cost-icon {
    margin-top: 4px; // Not easy to align with text next to it otherwise
    margin-right: 8px; // Replace space character in other sections
  }

  .cost-content {
    flex-grow: 1;
  }
}
