@use './parameters' as params;

/* Link styles */

a {
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5 {
  a {
    color: inherit;
  }
}

a.unstyled-link {
  color: inherit;
}

/* General improvements */

label {
  font-weight: 500;
}

/* Commonly used inline icon styles. The inline attribute of Material itself doesn't work */

.mat-icon.inline {
  font-size: 120%;
  vertical-align: text-bottom;
  margin-right: params.$margin-inline;
  height: unset;
  width: unset;

  &.form {
    padding-right: params.$margin-small;
  }
}

.icon-button {
  cursor: pointer;
  opacity: 0.6;
  margin-left: 12px;

  &:first-child {
    margin-left: 0px;
  }

  &:hover {
    opacity: 1;
  }
}

.icon-with-icon-badge {
  position: relative;
  margin-right: 6px;

  .icon-badge {
    font-size: 75%;
    position: absolute;
    top: 50%;
    left: 50%;

    border-radius: 50%;
    background-color: #6f6f6f;
    padding: 2px;
  }
}

/* Material helper classes */

.card-side-padding {
  padding-left: params.$margin-default;
  padding-right: params.$margin-default;
}

/* General helper classes */

.info {
  opacity: 0.8;
  font-style: italic;
}

.hidden {
  display: none !important;
}
