@use '@angular/material' as mat;

$margin-default: 16px;
$margin-small: 8px;
$margin-inline: 4px;

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ecorendum-primary: mat.define-palette(mat.$purple-palette);
$ecorendum-accent: mat.define-palette(mat.$teal-palette, A400, A200, A100);

// The warn palette is optional (defaults to red).
$ecorendum-warn: mat.define-palette(mat.$red-palette);
