@use '@angular/material' as mat;

$margin-default: 16px;
$margin-small: 8px;
$margin-inline: 4px;

$ecorendum-dark-primary: mat.define-palette(mat.$purple-palette);
$ecorendum-dark-accent: mat.define-palette(mat.$teal-palette, A400, A200, A100);
$ecorendum-dark-warn: mat.define-palette(mat.$red-palette);

$ecorendum-light-primary: mat.define-palette(mat.$deep-purple-palette);
$ecorendum-light-accent: mat.define-palette(mat.$teal-palette);
$ecorendum-light-warn: mat.define-palette(mat.$red-palette);

$ecorendum-primary: $ecorendum-dark-primary;
$ecorendum-accent: $ecorendum-dark-accent;
$ecorendum-warn: $ecorendum-dark-warn;

.light-mode {
  $ecorendum-primary: $ecorendum-light-primary;
  $ecorendum-accent: $ecorendum-light-accent;
  $ecorendum-warn: $ecorendum-light-warn;
}
