<div class="explainer responsive-page-container responsive-page-container-wide">
  <div class="explainer-section">
    <mat-icon class="background-icon">public</mat-icon>

    <h1>The global context</h1>

    <p class="explainer-explanation-short">
      In order to prevent the <app-inset-link insetTranslationKey="worst-consequences"></app-inset-link> of climate change, almost every country in the world signed the Paris Climate Agreement, agreeing to keep global warming well below 2°C, and aiming for less than 1.5°C.
    </p>
  </div>

  <div class="explainer-section">
    <mat-icon class="background-icon">star</mat-icon>

    <h1>The European targets</h1>

    <p class="explainer-explanation-short">
      Every country must do its bit. <app-inset-link insetTranslationKey="rich-countries-more-than-others"></app-inset-link> Belgium follows the <app-inset-link insetTranslationKey="european-targets"></app-inset-link> Companies in heavy industry and energy production buy allowances on the ETS market. For the other sectors, Belgian governments must reduce emissions by 47% from 2005 levels by 2030.
    </p>
  <!--
    <p class="explainer-explanation-long" [class.hidden]="!flemishTargetsExpanded">
    </p>

    <a class="more-button" (click)="flemishTargetsExpanded = !flemishTargetsExpanded">
      <span *ngIf="!flemishTargetsExpanded">Read more...</span>
      <span *ngIf="flemishTargetsExpanded">Read less</span>
    </a> -->
  </div>

  <div class="explainer-section">
    <mat-icon class="background-icon">gavel</mat-icon>

    <h1>The Climate Case</h1>

    <p class="explainer-explanation-short">
      Belgium and especially Flanders are not meeting the targets imposed by Europe. This threatens the human rights of future generations. That is why tens of thousands of concerned citizens filed a Climate Case against the Belgian authorities. The court proved them right, imposing on Belgium a reduction of even 55% compared to 1990 by 2030.
    </p>
  </div>

  <div class="explainer-section">
    <mat-icon class="background-icon">receipt_long</mat-icon>

    <h1>The impact</h1>

    <p class="explainer-explanation-short">
      In response to the Climate Case, Flemish Climate and Energy Minister Zuhal Demir had the Flemish Energy and Climate Agency (VEKA) quantify the impact of the imposed targets. This is clearly very big. High time we determined democratically how we are going to get it done.
    </p>
  </div>

  <div class="explainer-section">
    <mat-icon class="background-icon">volunteer_activism</mat-icon>

    <h1>The framework conditions</h1>

    <p class="explainer-explanation-short">
      The transition will not be easy, and we will have to make societal choices. How much are we willing to pay? How much risk can we take? Do measures cause other, perhaps even bigger environmental problems? Is the transition proceeding equitably? And what is the price of doing nothing?
    </p>
  </div>

  <div class="explainer-section">
    <mat-icon class="background-icon">how_to_vote</mat-icon>

    <h1>The preferendum</h1>

    <p class="explainer-explanation-short">
      This will be the biggest challenge we have ever faced. Everyone will be affected in one way or another. That's why we think everyone should be involved in choosing climate policy. How would you approach it? Soon it will be elections. What do the political parties propose?
    </p>
  </div>
</div>
