.docs-header-background {
  overflow: hidden;
  position: relative;
  height: 420px;

  &:before {
    content: "";
    position: absolute;
    background-image: url(/assets/img/logo_bw.png);
    background-size: 600px;
    inset: 0;
    background-repeat: no-repeat;
    background-position: 80% 20px;
    opacity: .2;
  }


}

@media (max-width: 1200px) {
  .docs-header-background:before {
      background-image: none;
  }
}

.close-container-link {
  color: white !important;
  opacity: 0.4;

  mat-icon {
    vertical-align: middle;
  }

  &:hover {
    opacity: 0.8;
  }
}

.header-logo {
  mix-blend-mode: multiply;
  width: 25%;
  position: absolute;
}

.close-container-link {
  display: block;
  margin-top: 24px;
  position: absolute;
  right: 24px;
}

.docs-header-section {
  width: 90%;
  position: absolute;
  z-index: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.docs-header-headline h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 56px;
  margin: 15px 5px;
}

.docs-header-headline h2 {
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  margin: 15px 0 25px;
}

.docs-header-start {
  text-align: center;
  margin: 50px 0 0;
}

.explainer-container {
  background-color: var(--mat-toolbar-container-background-color);
}

.explainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.explainer-section {
  position: relative;
  overflow: hidden;

  mat-icon.background-icon {
    display: none;
  }
}

@media (min-width: 768px) {
  .explainer {
    gap: 48px;
  }

  .explainer-section {
    max-width: 300px;

    mat-icon.background-icon {
      z-index: 0;
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      opacity: 0.05;
      font-size: 250px;
      width: 250px;
      height: 250px;
      margin-right: -20px;
      margin-top: -20px;
      margin-top: auto;
    }
  }
}

.explainer-explanation-short {
  z-index: 1;
  position: relative;
  font-size: 110%;
}

.explainer-explanation-long {
  opacity: 0.8;
}

.more-button {
  opacity: 0.6;
}

.hidden {
  display: none !important;
}

.inset {
  display: block;
  margin: 12px;
  opacity: 0.8;
}
