<div class="explainer responsive-page-container responsive-page-container-wide">
  <div class="explainer-section">
    <mat-icon class="background-icon">public</mat-icon>

    <h1>Le contexte global</h1>

    <p class="explainer-explanation-short">
      Afin de prévenir les <app-inset-link insetTranslationKey="worst-consequences"></app-inset-link> du changement climatique, presque tous les pays du monde ont signé l'Accord de Paris sur le climat, acceptant de maintenir le réchauffement de la planète bien en dessous de 2°C, et visant moins de 1,5°C.
    </p>
  </div>

  <div class="explainer-section">
    <mat-icon class="background-icon">étoile</mat-icon>

    <h1>Les objectifs européens</h1>

    <p class="explainer-explanation-short">
      Chaque pays doit faire sa part. Les pays riches plus que les autres. La Belgique suit les objectifs européens. Les entreprises de l'industrie lourde et de la production d'énergie achètent des quotas sur le marché ETS. Pour les autres secteurs, les gouvernements belges doivent réduire les émissions de 47 % par rapport aux niveaux de 2005 d'ici à 2030.
    </p>
  <!--
    <p class="explainer-explanation-long" [class.hidden]="!flemishTargetsExpanded">
    </p>

    <a class="more-button" (click)="flemishTargetsExpanded = !flemishTargetsExpanded">
      <span *ngIf="!flemishTargetsExpanded">Lire la suite...</span>
      <span *ngIf="flemishTargetsExpanded">Lire moins</span>
    </a> -->
  </div>

  <div class="explainer-section">
    <mat-icon class="background-icon">gavel</mat-icon>

    <h1>L'affaire Climat</h1>

    <p class="explainer-explanation-short">
      La Belgique et surtout la Flandre ne respectent pas les objectifs imposés par l'Europe. Cette situation menace les droits de l'homme des générations futures. C'est pourquoi des dizaines de milliers de citoyens inquiets ont déposé un affaire climat contre les autorités belges. Le tribunal leur a donné raison en imposant à la Belgique une réduction de 55 % par rapport à 1990 d'ici à 2030.
    </p>
  </div>

  <div class="explainer-section">
    <mat-icon class="background-icon">receipt_long</mat-icon>

    <h1>L'impact</h1>

    <p class="explainer-explanation-short">
      En réponse à l'Affaire Climat, la ministre flamande du Climat et de l'Énergie, Zuhal Demir, a fait quantifier par l'Agence flamande de l'énergie et du climat (VEKA) l'impact des objectifs imposés. C'est manifestement très important. Il est grand temps de déterminer démocratiquement comment nous allons procéder.
    </p>
  </div>

  <div class="explainer-section">
    <mat-icon class="background-icon">activisme_volontaire</mat-icon>

    <h1>Les conditions cadres</h1>

    <p class="explainer-explanation-short">
      La transition ne sera pas facile et nous devrons faire des choix de société. Combien sommes-nous prêts à payer ? Quel niveau de risque pouvons-nous prendre ? Les mesures prises entraînent-elles d'autres problèmes environnementaux, peut-être encore plus graves ? La transition se fait-elle de manière équitable ? Et quel est le prix à payer pour ne rien faire ?
    </p>
  </div>

  <div class="explainer-section">
    <mat-icon class="background-icon">comment_voter</mat-icon>

    <h1>Le préférendum</h1>

    <p class="explainer-explanation-short">
      Ce sera le plus grand défi que nous ayons jamais eu à relever. Tout le monde sera concerné d'une manière ou d'une autre. C'est pourquoi nous pensons que chacun doit participer au choix de la politique climatique. Comment l'abordez-vous ? Bientôt, ce seront les élections. Que proposent les partis politiques ?
    </p>
  </div>
</div>
