<div class="page-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="24px">
  <div fxFlex="60%" fxFlex.lt-md="100%" class="proposals">
    <h1 class="proposals-header" ngClass.xs="proposals-header-xs">
      <app-help-widget style="height: 40px;" tooltipKey="helpProposals" textKey="Proposals" dialogKey="helpDialogProposals"></app-help-widget>
      <div class="project-filters" ngClass.xs="project-filters-xs">
        <mat-checkbox *ngIf="selectedProposalType !== 'nekp'" [(ngModel)]="includeCommitted" (ngModelChange)="filterChanged()" style="margin-right: 12px">
          {{ 'Include already committed' | translate }}
        </mat-checkbox>

        <!-- <mat-form-field appearance="outline" >
          <mat-label>{{ 'Filter proposals' | translate }}</mat-label>
          <input matInput type="text" [(ngModel)]="proposalsFilter" (input)="filterChanged()">
        </mat-form-field> -->
      </div>
    </h1>

    <div class="proposal-types">
      <mat-radio-group [(ngModel)]="selectedProposalType" (change)="proposalSetSelectionChanged()">
        <mat-radio-button value="nekp" class="proposal-type">{{ 'Current plans' | translate }}</mat-radio-button>
        <mat-radio-button value="veka" class="proposal-type">{{ 'Examples VEKA' | translate }}</mat-radio-button>
        <mat-radio-button value="own" class="proposal-type">{{ 'Create your own' | translate }}</mat-radio-button>
      </mat-radio-group>
    </div>

    <span *ngIf="selectedProposalType !== 'own'">
      <app-proposal-set [baseSet]="selectedProposalType === 'nekp'" style="display: block; margin-bottom: 20px" *ngIf="selectedProposalType === 'nekp' || includeCommitted === true" [proposalSet]="proposalSetCommitted"></app-proposal-set>

      <app-proposal-set *ngIf="proposalSetOther.length > 0" [proposalSet]="proposalSetOther"></app-proposal-set>
    </span>

    <div *ngIf="selectedProposalType === 'own' && (filteredProposals$ | async); let filteredProposals">
      <app-proposal *ngFor="let proposal of filteredProposals" [proposal]="proposal"></app-proposal>

      <p *ngIf="filteredProposals.length > 0 && filteredProposals.length < proposalService.proposals$.value.length">
        {{ 'Cannot find the proposal you are looking for? There is a filter applied.' | translate }} <a (click)="clearFilter()">{{ 'Click here to clear it.' | translate }}</a>
      </p>

      <p *ngIf="filteredProposals.length === 0">
        {{ 'No proposals found with this filter.' }} <a (click)="clearFilter()">{{ 'Click here to clear it.' | translate }}</a>
      </p>

      <button mat-raised-button (click)="clearSelection()" style="margin-top: 12px">{{ 'Clear selection' | translate }}</button>
    </div>
  </div>
  <div fxFlex="40%" fxFlex.lt-md="100%" ngClass.gt-sm="results">
    <app-results></app-results>
  </div>
</div>

<app-results-mobile-summary fxHide.gt-sm class="mat-elevation-z8" (click)="showResults()"></app-results-mobile-summary>
