<div class="page-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="24px">
  <div fxFlex="60%" fxFlex.lt-md="100%">
    <h1 class="results-header">
      <app-help-widget tooltipKey="helpProposals" textKey="Proposals" dialogKey="helpProposals" [withoutSpace]="true"></app-help-widget>
      <div class="project-filters">
        <mat-form-field>
          <mat-label>{{ 'Filter projects' | translate }}</mat-label>
          <input matInput type="text" [(ngModel)]="projectsFilter" (input)="filterChanged()">
        </mat-form-field>
      </div>
    </h1>

    <app-proposal *ngFor="let proposal of filteredProjects" [proposal]="proposal"></app-proposal>

    <p *ngIf="filteredProjects.length > 0 && filteredProjects.length < proposalService.proposals.length">
      {{ 'Cannot find the proposal you are looking for? There is a filter applied.' | translate }} <a (click)="clearFilter()">{{ 'Click here to clear it.' | translate }}</a>
    </p>

    <p *ngIf="filteredProjects.length === 0">
      {{ 'No proposals found with this filter.' }} <a (click)="clearFilter()">{{ 'Click here to clear it.' | translate }}</a>
    </p>
  </div>
  <div fxFlex="40%" fxFlex.lt-md="100%" #results>
    <h1>
      <app-help-widget tooltipKey="helpResults" textKey="Results" dialogKey="helpResults" [withoutSpace]="true"></app-help-widget>
    </h1>

    <app-results inViewport (inViewportAction)="setResultsInViewport($event)"></app-results>
  </div>
</div>

<app-results-mobile-summary ngShow.lt-md *ngIf="!resultsVisible" class="mat-elevation-z8" (click)="navigateToResults(results)"></app-results-mobile-summary>
