<mat-card *ngIf="proposal" class="proposal">
  <mat-card-title>
    {{ proposal.title | translateText }}
    <span class="pull-right">
      <mat-icon *ngIf="proposal.sector" matTooltip="{{ enums.Sector[proposal.sector] | translate }}">
        {{ proposal.getSectorIcon() }}
      </mat-icon>
    </span>
  </mat-card-title>
  <p>{{ proposal.summary | translateText }}</p>

  <mat-button-toggle-group class="variants" appearance="legacy" name="variant" [(ngModel)]="selectedAmbitionLevel">
    <mat-button-toggle [value]="0" (click)="clearVariant()">
      <div class="ambition-level">
        <div class="ambition-level-title">X</div>
      </div>
    </mat-button-toggle>
    <mat-button-toggle *ngFor="let variant of proposal.variants" [value]="variant.ambitionLevel" (click)="updateSelected(variant)">
      <div class="ambition-level">
        <div class="ambition-level-title" fxHide.lt-sm>{{ variant.ambitionLevel }}</div>
        <div class="ambition-level-body">
          <span class="ambition-level-body-icons">
            <span class="ambition-level-reduction">
              <mat-icon class="inline">cloud_download</mat-icon> {{ variant.getTargetAmount(enums.TargetType.ghgReduction) }}kt
            </span>
            <span class="ambition-level-cost" fxHide.lt-lg>
              <mat-icon class="inline" style="margin-left: 12px">euro</mat-icon> {{ variant.getTotalCost() }}
            </span>
          </span>
          <span class="ambition-level-body-text" fxHide.lt-lg>{{ variant.description | translateText }}</span>
        </div>
      </div>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <div class="variant-body">
    <div *ngIf="selectedVariant">
      <!-- ambitionLevel: number = 1;
      description: TranslatedText[] = [];
      targets: Target[] = [];
      costInitial: number = 0;
      costPerYear?: { [year: number]: number } | number;
      impacts: Impact[] = []; -->
      <div fxLayout fxLayoutGap="12px">
        <div fxFlex="33%">
          <h3>{{ 'Cost' | translate }}</h3>
          <p>{{ 'Initial cost' | translate }}: €{{ selectedVariant.costInitial }}</p>
          <p *ngIf="selectedVariant.costPerYearFixed">{{ 'Yearly cost' | translate }}: €{{ selectedVariant.costPerYearFixed }}</p>
        </div>
        <div fxFlex="33%" *ngIf="selectedVariant.impacts && selectedVariant.impacts.length > 1">
          <h3>{{ 'Impact' | translate }}</h3>
          <span class="icon-list-item" *ngFor="let impact of selectedVariant.impacts">
            <mat-icon class="inline icon-list-item" [class]="impact.getImpactAmountClass()" matTooltip="{{ enums.ImpactDomain[impact.domain] | translate }}">{{ impact.getImpactDomainIcon() }}</mat-icon>
          </span>
        </div>
        <div fxFlex="33%" *ngIf="selectedVariant.targets && selectedVariant.targets.length > 1">
          <h3>{{ 'Targets' | translate }}</h3>
        </div>
      </div>

    </div>

    <div *ngIf="!selectedVariant">
      {{ 'This proposal is not selected' | translate }}
    </div>
  </div>
</mat-card>
