.proposal {
  margin-bottom: 24px;
}

mat-button-toggle-group.variants {
  height: unset;
  flex-wrap: wrap;
}

.ambition-level {
  display: flex;
  flex-direction: row;
  padding: 6px;
}

.ambition-level-title {
  font-size: 300%;
}

.ambition-level-body {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: normal;
}

.variant-body {
  margin-top: 12px;
}

.icon-list-item {
  margin-right: 12px;
}

.impact-extremely-positive { color: #00ffc3 }
.impact-very-positive { color: #46f8cf }
.impact-moderately-positive { color: #86fadf }
.impact-somewhat-positive { color: #d2f8ef }
.impact-neutral { color: #ffffff }
.impact-somewhat-negative { color: #fcc3bf }
.impact-moderately-negative { color: #f8837b }
.impact-very-negative { color: #fa4c40 }
.impact-extremely-negative { color: #ff1d0d }
