<h2 mat-dialog-title>
  <mat-icon class="inline">tune</mat-icon> {{ 'Configure parameters' | translate }}
</h2>
<div mat-dialog-content class="parameter-content" *ngIf="parameterService.parameters$ | async; let parameters">
  <div class="intro">
    {{ 'configureParametersDescription' | translate }}
  </div>

  <div class="parameter-list">
    <div class="parameter">
      <mat-form-field class="parameter-input" [hideRequiredMarker]="true">
        <mat-icon matPrefix class="inline form">currency_exchange</mat-icon>
        <mat-label>{{ 'pricePerTonGhgParam' | translate }}</mat-label>
        <input #pricePerTonGhgInput matInput type="text" [required]="true"
          [value]="parameters.pricePerTonGhg" (input)="pricePerTonGhgChanged(pricePerTonGhgInput.value)">
      </mat-form-field>
      <div class="parameter-description">
        {{ 'pricePerTonGhgParamDescription' | translate }}
        <div *ngIf="defaultParameters.pricePerTonGhg !== parameters.pricePerTonGhg">
          <a [routerLink]="null" (click)="pricePerTonGhgChanged(defaultParameters.pricePerTonGhg)">
            {{ 'Reset to default: ' | translate }}
            {{ defaultParameters.pricePerTonGhg | number }}
          </a>
        </div>
      </div>
    </div>

    <div class="parameter">
      <mat-form-field class="parameter-input" [hideRequiredMarker]="true">
        <mat-icon matPrefix class="inline form">signal_cellular_alt</mat-icon>
        <mat-label>{{ 'emissionGapMultiplierParam' | translate }}</mat-label>
        <input #emissionGapMultiplierInput matInput type="text" [required]="true"
          [value]="parameters.emissionGapMultiplier" (input)="emissionGapMultiplierChanged(emissionGapMultiplierInput.value)">
      </mat-form-field>
      <div class="parameter-description">
        {{ 'emissionGapMultiplierParamDescription' | translate }}
        <div *ngIf="defaultParameters.emissionGapMultiplier !== parameters.emissionGapMultiplier">
          <a [routerLink]="null" (click)="emissionGapMultiplierChanged(defaultParameters.emissionGapMultiplier)">
            {{ 'Reset to default: ' | translate }}
            {{ defaultParameters.emissionGapMultiplier | number }}
          </a>
        </div>
      </div>
    </div>

    <div class="parameter">
      <mat-form-field class="parameter-input" [hideRequiredMarker]="true">
        <mat-icon matPrefix class="inline form">gavel</mat-icon>
        <mat-label>{{ 'monthlyLegalPenaltyParam' | translate }}</mat-label>
        <input #monthlyLegalPenaltyInput matInput type="text" [required]="true"
          [value]="parameters.monthlyLegalPenalty" (input)="monthlyLegalPenaltyChanged(monthlyLegalPenaltyInput.value)">
      </mat-form-field>
      <div class="parameter-description">
        {{ 'monthlyLegalPenaltyParamDescription' | translate }}
        <div *ngIf="defaultParameters.monthlyLegalPenalty !== parameters.monthlyLegalPenalty">
          <a [routerLink]="null" (click)="monthlyLegalPenaltyChanged(defaultParameters.monthlyLegalPenalty)">
            {{ 'Reset to default: ' | translate }}
            {{ defaultParameters.monthlyLegalPenalty | number }}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="reset-all">
    <a [routerLink]="null" (click)="resetAll()">
      {{ 'Reset all to defaults' | translate }}
    </a>
  </div>
</div>
