.parameter-content {
  max-width: 500px;
}

.parameter {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  margin-bottom: 16px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  &:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
  }
}

.intro {
  opacity: 0.6;
  margin-bottom: 24px;
}

.parameter-input {
  min-width: 160px;
  display: block;
}

.reset-all {
  margin-top: 24px;
}

@media (max-width: 576px) {
  .parameter {
    flex-wrap: wrap;
  }
}
