<form #proposalTranslationsForm="ngForm" id="proposal-translations" class="column-form">
  <mat-tab-group>
    <mat-tab *ngFor="let lang of allLanguages">
      <ng-template mat-tab-label>{{ lang | translate }}</ng-template>

      <div class="tab-body column-form" *ngIf="data && data[lang]">
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput name="proposal_title" [(ngModel)]="data[lang].title">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Summary</mat-label>
          <textarea matInput name="proposal_summary" [(ngModel)]="data[lang].summary"></textarea>
        </mat-form-field>

        <div *ngFor="let proposalVariant of proposal.variants; let i = index;">
          <div *ngIf="data[lang]?.variants?.[proposalVariant.ambitionLevel]; let variant;">
            <h3>{{ 'Variant ' + proposalVariant.ambitionLevel }}
              <small *ngIf="i !== 0">
                <button mat-icon-button matTooltip="Copy from previous" (click)="copyFromPrevious(lang, proposalVariant.ambitionLevel)">
                  <mat-icon class="inline" style="font-size: 100%;">download_2</mat-icon>
                </button>
              </small>
            </h3>

            <div class="row-form">
              <mat-form-field appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput name="variant_title_{{lang}}_{{i}}" [(ngModel)]="variant.title">
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Summary</mat-label>
                <input matInput name="variant_summary_{{lang}}_{{i}}" [(ngModel)]="variant.summary">
              </mat-form-field>
            </div>
          </div>
        </div>

        <mat-tab-group>
          <mat-tab *ngFor="let partyId of partiesForRegion$ | async">
            <ng-template mat-tab-label><app-party-logo-or-name [partyId]="partyId"></app-party-logo-or-name></ng-template>

            {{ partiesForRegion$ | async }}
            -------
            {{ data[lang].partyOpinions | json }}


          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-tab>
  </mat-tab-group>
</form>
