.title-link {
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

.committed h2 {
  opacity: 0.6;
}

.set-title {
  font: 400 16px / 28px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  margin: 0 0 16px;
}

.proposal-thumb {
  float: left;
  margin-right: 12px;
  margin-bottom: 12px;
  width: 160px;
}

.proposal-thumb-xs {
  width: 100%;
}

.gt-xs-proposal-extra-info {
  text-align: right;
}

.proposal-icons {
  mat-icon+mat-icon {
    margin-left: 12px;
  }

  white-space: nowrap;
}

.proposal-target-summary {
  opacity: 0.6;
  margin-top: -16px;
  display: flex;
  flex-wrap: wrap;

  &.set {
    margin-bottom: 12px;
  }
}

.proposal-target-summary-primary {
  display: inline-flex;
  flex-wrap: wrap;
}

.proposal-target-summary-secondary {
  display: inline-block;
  opacity: 0.4;
}

@media (max-width: 576px) {
  .proposal-target-summary {
    display: block;
  }

  .proposal-target-summary-secondary {
    display: block;
  }

  .proposal-target-summary-secondary {
    &::before {
      opacity: unset!important;
      content: unset!important;
      margin-right: unset!important;
      margin-left: unset!important;
    }
  }
}

.proposal-target-summary-item {
  display: inline-flex;
}

.proposal-target-summary-item:not(:first-child), .proposal-target-summary-secondary {
  &::before {
    opacity: 0.6;
    content: '•';
    margin-right: 6px;
    margin-left: 6px;
  }
}

.proposal-target-impact-summary {
  font-size: smaller;
}

.ets-icon {
  font-weight: 10;
  font-family: system-ui;
  font-size: 130%;
  position: relative;
  top: -3px;
  margin-right: 16px;
  cursor: default;
}

.header-icon {
  margin-right: 8px;
}
