<div *ngIf="proposal" style="display: flex" [class.committed]="proposal.committed && !baseSet">
  <h2 [class.set-title]="set" *ngIf="!dialog">
    <mat-icon class="inline header-icon" fontSet="material-symbols-outlined">{{ proposal.icon || 'eco' }}</mat-icon>
  </h2>
  <div style="flex-grow: 1;">
    <h2 [class.set-title]="set">
      <a class="title-link" *ngIf="card && !dialog" (click)="openProposalDetailDialog()" (click)="$event.stopPropagation()">
        {{ proposal | translateProp:'title' | async }}
        <span *ngIf="set && proposal.variants.length > 1"> - {{ proposal | translateProp:'variant.title':proposal.selectedAmbitionLevel | async }}</span>
      </a>
      <ng-container *ngIf="!card && !dialog">
        {{ proposal | translateProp:'title' | async }}
        <span *ngIf="set && proposal.variants.length > 1"> - {{ proposal | translateProp:'variant.title':proposal.selectedAmbitionLevel | async }}</span>
      </ng-container>
    </h2>
    <div class="proposal-target-summary" [class.set]="set">
      <span class="proposal-target-summary-item" *ngIf="proposal.committed">
        {{ 'Committed' | translate }}
      </span>
      <span class="proposal-target-summary-item" *ngIf="proposal.getSingleOrMinCost(set); let cost;">
        <span [class]="getCostClass(cost)">{{ cost | cost }}</span>
        <span *ngIf="proposal.getMaxCost(set); let maxCost"> - <span [class]="getCostClass(cost)">{{ maxCost | cost }}</span></span>
      </span>
      <span class="proposal-target-summary-item" *ngIf="proposal.getSingleOrMinTargetAmount(enums.TargetType.ghgReduction, set); let amt;">
        <mat-icon class="inline">cloud_download</mat-icon>
        <span [class]="getCo2Class(amt)">{{ amt | number }} kt</span>
        <span *ngIf="proposal.getMaxTargetAmount(enums.TargetType.ghgReduction, set); let maxAmt"> - <span [class]="getGasClass(amt)">{{ maxAmt | number }} kt</span></span>
      </span>
      <div class="proposal-target-summary-secondary set" *ngIf="set">
        <span class="proposal-target-summary-item">{{ enums.PolicyLevel[proposal.policyLevel || enums.PolicyLevel.unknown] | translate }}</span>
        <span class="proposal-target-summary-item">{{ enums.Sector[proposal.sector || enums.Sector.unknown] | translate }}</span>
        <span class="proposal-target-summary-item" *ngIf="proposal.ets">ETS</span>
      </div>
    </div>
  </div>
  <div *ngIf="!set" ngClass.gt-xs="gt-xs-proposal-extra-info" fxHide.lt-sm>
    <div class="proposal-icons">
      <span *ngIf="proposal.ets" class="ets-icon" matTooltip="{{ 'eu-ets' | translate }}">ETS</span>
      <mat-icon *ngIf="proposal.sector && proposal.hasKnownSector()" matTooltip="{{ enums.Sector[proposal.sector] | translate }}">
        {{ proposal.getSectorIcon() }}
      </mat-icon>
      <mat-icon *ngIf="proposal.policyLevel === enums.PolicyLevel.federal" matTooltip="{{ 'federal' | translate }}"
        svgIcon="belgium">
      </mat-icon>
      <mat-icon *ngIf="proposal.policyLevel === enums.PolicyLevel.flemish" matTooltip="{{ 'flemish' | translate }}"
        svgIcon="flanders">
      </mat-icon>
      <mat-icon *ngIf="proposal.policyLevel === enums.PolicyLevel.wallonian" matTooltip="{{ 'wallonian' | translate }}"
        svgIcon="wallonia">
      </mat-icon>
    </div>
  </div>
</div>
