<div *ngIf="proposal" style="display: flex" [class.committed]="proposal.committed && !baseSet">
  <h2 [class.set-title]="set" *ngIf="!dialog">
    <mat-icon class="inline header-icon" fontSet="material-symbols-outlined">{{ proposal.icon || 'eco' }}</mat-icon>
  </h2>
  <div style="flex-grow: 1;">
    <h2 [class.set-title]="set">
      <a class="title-link" *ngIf="card && !dialog" (click)="openProposalDetailDialog()" (click)="$event.stopPropagation()">
        {{ proposal | translateProp:'title' | async }}
        <span *ngIf="set && proposal.variants.length > 1"> - {{ proposal | translateProp:'variant.title':proposal.selectedAmbitionLevel | async }}</span>
      </a>
      <ng-container *ngIf="!card && !dialog">
        {{ proposal | translateProp:'title' | async }}
        <span *ngIf="set && proposal.variants.length > 1"> - {{ proposal | translateProp:'variant.title':proposal.selectedAmbitionLevel | async }}</span>
      </ng-container>
    </h2>
    <div class="proposal-target-summary" [class.set]="set">
      <div class="proposal-target-summary-primary">
        <span class="proposal-target-summary-item" *ngIf="proposal.committed">
          {{ 'Committed' | translate }}
        </span>
        <span class="proposal-target-summary-item" *ngIf="proposal.getSelectedCost(); let selectedCost">
          <app-cost-scale [min]="proposal.getSingleOrMinCost()" [selected]="selectedCost" [potential]="proposal.getMaxCost(set)"
            [scale]="25000000" [style]="'warn'"></app-cost-scale>
        </span>
        <span class="proposal-target-summary-item" *ngIf="proposal.getSelectedTargetAmount(enums.TargetType.ghgReduction, contextService.context$.value); let selectedAmt">
          <app-impact-scale [singleOrMin]="proposal.getSingleOrMinTargetAmount(enums.TargetType.ghgReduction, contextService.context$.value)"
            [selected]="selectedAmt"
            [max]="proposal.getMaxTargetAmount(enums.TargetType.ghgReduction, set, contextService.context$.value)"
            [scale]="500" unit="kt" icon="cloud_download"></app-impact-scale>
        </span>
      </div>
      <div class="proposal-target-summary-secondary" *ngIf="set">
        <span class="proposal-target-summary-item">{{ (proposal.policyLevel || enums.PolicyLevel.unknown) | translateEnum:'PolicyLevel' | async }}</span>
        <span class="proposal-target-summary-item">{{ (proposal.sector || enums.Sector.unknown) | translateEnum:'Sector' | async }}</span>
        <span class="proposal-target-summary-item" *ngIf="proposal.ets">ETS</span>
      </div>
    </div>
  </div>
  <div *ngIf="!set" ngClass.gt-xs="gt-xs-proposal-extra-info" fxHide.lt-sm>
    <div class="proposal-icons">
      <span *ngIf="proposal.ets" class="ets-icon" matTooltip="{{ 'eu-ets' | translate }}">ETS</span>
      <mat-icon *ngIf="proposal.sector && proposal.hasKnownSector()" matTooltip="{{ proposal.sector | translateEnum:'Sector' | async }}">
        {{ proposal.getSectorIcon() }}
      </mat-icon>
      <mat-icon *ngIf="proposal.policyLevel === enums.PolicyLevel.federal" matTooltip="{{ 'enums.PolicyLevel.federal' | translate }}"
        svgIcon="belgium">
      </mat-icon>
      <mat-icon *ngIf="proposal.policyLevel === enums.PolicyLevel.flemish" matTooltip="{{ 'enums.PolicyLevel.flemish' | translate }}"
        svgIcon="flanders">
      </mat-icon>
      <mat-icon *ngIf="proposal.policyLevel === enums.PolicyLevel.wallonian" matTooltip="{{ 'enums.PolicyLevel.wallonian' | translate }}"
        svgIcon="wallonia">
      </mat-icon>
    </div>
  </div>
</div>
