.column-form {
  display: flex;
  flex-direction: column;
}

.row-form {
  display: flex;
  flex-direction: row;
  column-gap: 24px;

  & > * {
    flex: 1;
  }
}

.row-form-with-button {
  display: flex;
  flex-direction: row;
  column-gap: 24px;

  & > *:not(:last-child) {
    flex: 1;
  }
}

.variable-form {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  justify-items: flex-start;
}

@media (max-width: 576px) {
  .row-form {
    flex-direction: column;
  }

  .variable-form {
    flex-direction: column;
    justify-items: unset;
  }
}

.subform {
  border-width: 2px;
  border-style: dashed;
  border-color: var(--mdc-elevated-card-container-color);
  padding: 12px;
  margin-bottom: 12px;
}

button {
  margin-bottom: 12px;
}

mat-checkbox {
  margin-bottom: 12px;
}

.sample-image {
  margin-bottom: 24px;
}

.tab-body {
  margin-top: 12px;
}
