.column-form {
  display: flex;
  flex-direction: column;
}

.row-form {
  display: flex;
  flex-direction: row;
  column-gap: 24px;

  & > * {
    flex: 1;
  }
}

@media (max-width: 576px) {
  .row-form {
    flex-direction: column;
  }
}

