<div class="responsive-page-container column-form">
  <div class="row-form">
    <!-- Load existing -->
    <mat-form-field appearance="fill" style="flex: 1">
      <mat-label>Selected proposal</mat-label>
      <mat-select name="selectedProposal" #selectedProposal (selectionChange)="load($event.value)">
        <mat-optgroup *ngFor="let region of allRegions">{{ region | translate }}
          <mat-option *ngFor="let proposal of allProposals[region]" [value]="proposal">
            {{ 'proposals.' + proposal.slugEn + '.title' | translate }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>

    <button type="button" mat-raised-button (click)="clone()" style="flex: unset">
      <mat-icon>content_copy</mat-icon>
      Clone
    </button>
  </div>

  <mat-tab-group>
    <mat-tab label="Proposal data">
      <app-proposal-data-editor [proposal]="proposal" class="column-form tab-body"></app-proposal-data-editor>
    </mat-tab>

    <mat-tab label="Translations">

    </mat-tab>
  </mat-tab-group>

  <!-- Submit Button -->
  <button mat-raised-button color="primary" type="submit" (click)="download()"><mat-icon>download</mat-icon> Download</button>
</div>
